<div class="jumbotron">
  <div class="container-fluid">
    <h1 id="pet-img">WELCOME <%= current_user.name %> <%= link_to 'Add a new pet', new_pet_path, class: "btn btn-primary" %> </h1 >
  </div>
</div>

<div id="pet-collection" class="container-fluid">
  <section class="row col-centered">
    <div id="center-row">
    <% @pets.each do |pet| %>
    <figure class="col-sm-3 img-detail">
      <%= image_tag pet.avatar.url(:thumb),class: "img-thumb" %> 
      <figcaption class="pull-center"><strong><%= pet.name %></strong></figcaption>
      <br>
       <article>
       <p >Pet owner &nbsp;&nbsp;&nbsp;<strong><%= find_user(pet.user_id) %></strong> </p>
      </article>
      <a id ="pet-info" class = "btn btn-info btn-block" href="<%= pet_path(pet.id) %>" data-user="<%=  current_user.id %>" name="<%= pet.id %>">pet info</a>
    </figure>
    <% end %>
    </div>
  </section>
</div>

<div id="myModal" class="modal fade " role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 id="modal-title" class="modal-title">PET</h4>
      </div>
      <div class="modal-body">
        <div id="pet-details">
         
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

