<!DOCTYPE html>
<html>
<head>
  <title>Groopify</title>
  <%= stylesheet_link_tag    'application'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render './partials/navbar' %>

<%= yield %>

<%= render './partials/errors' %>

</body>
</html>
